*{
    margin: 0px; padding: 0px;
}
body{
    background-color: #2286c6;
}
#bottem{
    text-align: center;
    background-color: aquamarine;
    clear: left;
}
#main{
    width: 780px;
    height: auto;
    margin: 0 auto;
    background-color: aliceblue;
}
#text_head{
    width: auto;
    height: 40px;
    background-color: #2c9bce;
    color: #e6bf13;
    text-align: center;
}
#introduce{
    text-align: center;
}
#word{
    width: 400px;
    height: auto;
    margin: 0 auto;
}
#back{
    height: 20px;
    width: auto;
    background-color: #22c6be;
    text-align: center;
}
#back_a{
    text-decoration: none;
}